<div>
<p></p>
<h3>Корзина</h3>
<p></p>
    <div ng-show="cart.items.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ci in cart.items">
                <td>{{ci.productTitle}}</td>
                <td>{{ci.quantity}}</td>
                <td>{{ci.pricePerProduct + ' x ' + ci.quantity + ' = ' + ci.price}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Итого:</td>
                <td>{{cart.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
        <p></p>


        <form class="align-middle" ng-submit="createOrder()" ng-show="isUserLoggedIn()">
            <div class="input-group input-group-sm" style="padding: 4px;">
                <input id="navAddressField" class="form-control" ng-model="order.address" type="text"
                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                <input id="navPhoneField" class="form-control" ng-model="order.phone" type="tel"
                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                <button id="navLoginSubmit1" class="btn btn-primary"
                        style="margin-left: 10px;" type="submit">Оформить заказ
                </button>
            </div>
        </form>


        <button class="btn btn-secondary" ng-click="guestCreateOrder()" ng-show="!isUserLoggedIn()">Оформить заказ</button>

    </div>

    <div ng-show="cart.items.length == 0">
        <p>Ваша корзина пуста</p>
    </div>

</div>